body {
	margin:0px;
	padding:0px;
	background-color: #336699;
    font-family:verdana;
	svg {
		font-family: HelveticaNeueW01-55Roma,Arial,sans-serif;
	}
	#trg {
		margin:0 auto;
		margin-top:10%;
	}
    a {
		display:inline-block;
		border-radius: 5px;
		background-color:gray;
		color:white;
		height:28px;
		padding:10px;
		margin:10px;
		line-height:28px;
		font-size:25px;
		text-decoration: none;
		&:hover{
			color:red;
		}
	}
}
