body {
	margin:0px;
	padding:0px;
	background-color: white;
	font-family:verdana;
	display:flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	height:100vh;
	svg {
		font-family: HelveticaNeueW01-55Roma,Arial,sans-serif;
	}
	#trg {
		margin:0 auto;
		margin-top:2rem;
	}
	a {
		display:inline-block;
		border-radius: 5px;
		background-color:gray;
		color:white;
		height:28px;
		padding:10px;
		margin:10px;
		line-height:28px;
		font-size:24px;
		text-decoration: none;
		&:hover{
			color:red;
		}
	}
}
